@tailwind base;
@tailwind components;
@tailwind utilities;

.circles__background {
  @apply bg-home-circles bg-no-repeat bg-right
}

.row-table-mobile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap-column: 4px;
  
  @media (max-width: 767px) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "data-1 data-1 data-1 data-4"
      "data-2 data-2 data-2 data-4"
      "data-3 data-3 data-3 data-4"
  }
}

.data-1 {
  @media (max-width: 767px) {
    grid-area: data-1;
  }
}

.data-2 {
  @media (max-width: 767px) {
    grid-area: data-2;
    justify-self: start;
    align-self: center;
    font-size: 12px;
  }
}

.data-3 {
  @media (max-width: 767px) {
    grid-area: data-3;
    justify-self: start;
    align-self: center;
    font-size: 12px;
  }
}

.data-4 {
  @media (max-width: 767px) {
    grid-area: data-4;
    align-self: center;
  }
}