@tailwind base;
@tailwind components;
@tailwind utilities;

.circles__background {
  @apply bg-home-circles bg-no-repeat bg-right
}

.not-found__background {
  @apply bg-not-found bg-no-repeat bg-right
}

/* .row-table-mobile {
  grid-template-areas: 
    "data-1 data-1 data-1 data-4"
    "data-2 data-2 data-2 data-4"
    "data-3 data-3 data-3 data-4";
}

.data-1 {
  grid-area: data-1;

  @media(min-width: 768px) {
    grid-area: '';
  }
}

.data-2 {
  grid-area: data-2;
  justify-self: start;
  align-self: start;
  font-size: 12px;

  @media(min-width: 768px) {
    grid-area: '';
  }
}

.data-3 {
  grid-area: data-3;
  justify-self: start;
  align-self: start;
  font-size: 12px;

  @media(min-width: 768px) {
    grid-area: '';
  }
}

.data-4 {
  grid-area: data-4;
  align-self: center;

  @media(min-width: 768px) {
    grid-area: '';
  }
} */